body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
h1 {
  color: #333;
  margin-top: 170px;
}
#result {
  margin: 20px auto;
  font-size: 2em;
  font-weight: bold;
  color: #555;
}
button {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #ff1493;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
button:hover {
  background-color: #ff69b4;
}
